body {
    background-color: #1a1a1a;
    color: #ff9900;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
}

.login-box {
    background-color: #262626;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #ff9900;
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    outline: none;
}

button {
    padding: 10px;
    background-color: #ff9900;
    color: #1a1a1a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #e68a00;
}
